$primary: #E1C6A8;
$secondary: #3B3B3B;
$body-bg: #242424;
$dark: #1A1A1A;
$light-border-subtle: #404040;
$border-color: #606060;
$headings-color: #BDBDBD;
$body-color: #808080;

@import "../../../node_modules/bootstrap";